@page "/training-plans/{planId:int}/participants"

@using RowFlex.Data
@using RowFlex.Models
@inject ApplicationDbContext DbContext
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ClubService clubService
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@rendermode InteractiveServer

<PageTitle>View Participants</PageTitle>

<h3>Participants List</h3>

<div>
    @if (trainingPlan != null && trainingPlan.Training != null)
    {
        <h4>@trainingPlan.Training.Title</h4>
        <p>Scheduled Date: @trainingPlan.TrainingDate.ToString("MMM dd, yyyy")</p>

        <h5>Participants</h5>
        @if (participants == null || !participants.Any())
        {
            <p>No participants yet.</p>
        }
        else
        {
            <ul class="list-group">
                @foreach (var participant in participants)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span>@participant.User?.Name @participant.User?.Surname</span>
                        </div>
                        @if (participant.TrainingPlan.Training.TrainingType == ETreningType.Water)
                        {
                            @if (participant.IsBoatAssigned)
                            {
                                <span class="badge bg-success ms-2">Boat Assigned!</span>
                            }
                            <button class="btn btn-sm @(participant.IsBoatAssigned ? "btn-danger" : "btn-primary")"
                                @onclick="() => ToggleBoatAssignment(participant)">
                                @(participant.IsBoatAssigned ? "Unassign Boat" : "Assign Boat")
                            </button>
                        }

                    </li>
                }
            </ul>
        }
    }
    else
    {
        <p>Loading...</p>
    }
</div>

@code {
    [Parameter] public int planId { get; set; }

    private TrainingPlan trainingPlan;
    private List<Presence> participants;

    protected override async Task OnInitializedAsync()
    {
        await LoadTrainingPlan();
    }

    private async Task LoadTrainingPlan()
    {
        trainingPlan = null;
        participants = new List<Presence>();

        try
        {
            trainingPlan = await DbContext.TrainingPlans
            .Include(tp => tp.Training)
            .FirstOrDefaultAsync(tp => tp.Id == planId);

            if (trainingPlan != null)
            {
                participants = await DbContext.Presences
                .Where(p => p.TrainingPlanId == planId)
                .Include(p => p.User)
                .ToListAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while loading the training plan: {ex.Message}");
        }
    }

    private async Task ToggleBoatAssignment(Presence presence)
    {
        try
        {
            presence.IsBoatAssigned = !presence.IsBoatAssigned;
            await DbContext.SaveChangesAsync();

            participants = await DbContext.Presences
            .Where(p => p.TrainingPlanId == planId)
            .Include(p => p.User)
            .ToListAsync();
        }

        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while assigning the boat: {ex.Message}");
        }

    }
}